<button
  @click="animal = '{{ animal_type }}'"
  class="w-full md:w-[236px] pt-5 pb-3 text-[21px] leading-7 font-semibold transition-colors duration-300 flex flex-col items-center justify-center gap-2 relative underline-animate {{ underline_direction }}"
  :class="animal === '{{ animal_type }}' ? 'text-[#0055b8] underline-animate-active' : 'text-[#8c8c8c]'"
>
  {% case animal_type %}
    {% when 'dog' %}
      {% render 'icon-dog' %}
    {% when 'cat' %}
      {% render 'icon-cat' %}
    {% else %}
      <!-- No icon -->
  {% endcase %}
  {{ animal_label }}
</button>

<style>
  .underline-animate::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: currentColor;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0%);
  }
  .underline-animate-left::before {
    transform-origin: left;
  }
  .underline-animate-right::before {
    transform-origin: right;
  }
  .underline-animate-active::before {
    transform: scaleX(100%);
  }
</style>
