{% schema %}
{
  "name": "Pricing Plans",
  "settings": [
    {
      "type": "header",
      "content": "Badge Settings"
    },
    {
      "type": "color",
      "id": "badge_popular_bg_color",
      "label": "Popular Badge Background Color",
      "default": "#CA4F27"
    },
    {
      "type": "color",
      "id": "badge_popular_text_color",
      "label": "Popular Badge Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "badge_best_value_bg_color",
      "label": "Best Value Badge Background Color",
      "default": "#101011"
    },
    {
      "type": "color",
      "id": "badge_best_value_text_color",
      "label": "Best Value Badge Text Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "product_entry",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "alt_title",
          "label": "Alternative title (optional)"
        },
        {
          "type": "image_picker",
          "id": "alt_image",
          "label": "Alternative product image (optional)"
        },
        {
          "type": "select",
          "id": "group",
          "label": "Group",
          "options": [
            { "value": "dog", "label": "Dog" },
            { "value": "cat", "label": "Cat" }
          ],
          "default": "dog"
        },
        {
          "type": "textarea",
          "id": "features",
          "label": "Product Features (one per line)",
          "info": "Enter one feature per line"
        }
      ]
    }
  ],
  "presets": [{ "name": "Pricing Plans" }]
}
{% endschema %}

<section
  x-data="{ animal: 'dog' }"
  class="pt-[30px] font-medium text-text-primary text-[14px] leading-[20px] tracking-[0.25px] dual-bg"
>
  <h1 class="sr-only">Featured collection</h1>
  <div class="mx-auto">
    <!-- Tabs -->
    <div class="relative w-full buttons-line">
      <div class="flex justify-center mx-auto md:w-fit">
        {% render 'animal-tab-button',
          animal_type: 'dog',
          animal_label: 'Dog',
          underline_direction: 'underline-animate-right'
        %}
        {% render 'animal-tab-button',
          animal_type: 'cat',
          animal_label: 'Cat',
          underline_direction: 'underline-animate-left'
        %}
      </div>
    </div>

    <div class="relative">
      <!-- Ensure enough height for both swipers -->
      <!-- CAT Swiper -->
      <div
        x-show="animal === 'cat'"
        x-transition.opacity.duration.1000ms
        :class="animal !== 'cat' && '!absolute inset-0'"
        class="swiper pricingSwiper h-fit"
        x-cloak
      >
        <div class="swiper-wrapper !w-fit mx-auto pt-[60px] pb-8 px-[30px]">
          {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}
            {% if product and block.settings.group == 'cat' %}
              {%
                render 'animal-card',
                product: product,
                alt_title: block.settings.alt_title,
                alt_image: block.settings.alt_image
                features: block.settings.features | split: '<br />'
              %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- DOG Swiper -->
      <div
        x-show="animal === 'dog'"
        x-transition.opacity.duration.1000ms
        :class="animal !== 'dog' && '!absolute inset-0'"
        class="swiper pricingSwiper h-fit"
        x-cloak
      >
        <ul class="swiper-wrapper !w-fit mx-auto pt-[60px] pb-8 px-[30px]">
          {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}
            {% assign features = block.settings.features | newline_to_br | split: '<br />' %}
            {% if product and block.settings.group == 'dog' %}
              {% render 'animal-card',
                product: product,
                alt_title: block.settings.alt_title,
                alt_image: block.settings.alt_image,
                features: features
              %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <p class="text-[21px] leading-7 font-normal flex justify-center tracking-normal mb-2">
      Not sure which is the best fit?
    </p>
    <div class="flex justify-center gap-1 py-1.5">
      <a
        href="#"
        class="text-primary-blue"
      >
        Compare Dog DNA Tests
      </a>
      {% render 'icon-arrow-right' %}
    </div>
  </div>
</section>
<!-- Swiper CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.pricingSwiper', {
      slidesPerView: 'auto',
      spaceBetween: 64,
      breakpoints: {
        768: {
          slidesPerView: 'auto',
        },
      },
    });
  });
</script>

<style>
  .buttons-line::before {
    content: '';
    display: block;
    width: calc(100% - 60px);
    height: 2px;
    background-color: #bdc2c6;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .dual-bg {
    background: linear-gradient(to bottom, white 554px, #def4fa 554px);
  }
</style>
