{% schema %}
{
  "name": "Pricing Plans",
  "settings": [],
  "presets": [{ "name": "Pricing Plans" }]
}
{% endschema %}

<div
  x-data="{ animal: 'dog' }"
  class="pt-[30px] font-medium text-[#101011] text-[14px] leading-[20px] tracking-[0.25px] dual-bg"
>
  <div class="mx-auto">
    <!-- Tabs -->
    <div class="relative w-full buttons-line">
      <div class="flex justify-center mx-auto md:w-fit">
        {% render 'animal-tab-button',
          animal_type: 'dog',
          animal_label: 'Dog',
          underline_direction: 'underline-animate-right'
        %}
        {% render 'animal-tab-button',
          animal_type: 'cat',
          animal_label: 'Cat',
          underline_direction: 'underline-animate-left'
        %}
      </div>
    </div>

    <div class="relative">
      <!-- Ensure enough height for both swipers -->
      <!-- CAT Swiper -->
      <div
        x-show="animal === 'cat'"
        x-transition.opacity.duration.1000ms
        :class="animal !== 'cat' && '!absolute inset-0'"
        class="swiper pricingSwiper h-fit"
        x-cloak
      >
        <div class="swiper-wrapper !w-fit mx-auto pt-[60px] pb-8 px-[30px]">
          {% for product in collections['cat-products'].products %}
            {% render 'animal-card', product: product %}
          {% endfor %}
        </div>
      </div>

      <!-- DOG Swiper -->
      <div
        x-show="animal === 'dog'"
        x-transition.opacity.duration.1000ms
        :class="animal !== 'dog' && '!absolute inset-0'"
        class="swiper pricingSwiper h-fit"
        x-cloak
      >
        <div class="swiper-wrapper !w-fit mx-auto pt-[60px] pb-8 px-[30px]">
          {% for product in collections['dog-products'].products %}
            {% render 'animal-card', product: product %}
          {% endfor %}
        </div>
      </div>
    </div>
    <p class="text-[21px] leading-7 font-normal flex justify-center tracking-normal mb-2">
      Not sure which is the best fit?
    </p>
    <div class="flex justify-center gap-1 py-1.5">
      <a
        href="#"
        class="text-[#0F6BFF]"
      >
        Compare Dog DNA Tests
      </a>
      {% render 'icon-arrow-right' %}
    </div>
  </div>
</div>
<!-- Swiper CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.pricingSwiper', {
      slidesPerView: 'auto',
      spaceBetween: 64,
      breakpoints: {
        768: {
          slidesPerView: 'auto',
        },
      },
    });
  });
</script>

<style>
  .buttons-line::before {
    content: '';
    display: block;
    width: calc(100% - 60px);
    height: 2px;
    background-color: #bdc2c6;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .dual-bg {
    background: linear-gradient(to bottom, white 554px, #def4fa 554px);
  }
</style>
